@font-face {
  font-family: 'alphacentauri-medium';
  font-style: normal;
  src: url('fonts/Alphacentauri.woff2') format('woff');
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'alphacentauri-medium';
}

body {
  color: #333;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
}
