* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: rgb(211, 211, 211);
  font-family: alphacentauri-medium;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.scoreboard {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.3);
  z-index: 10;
}
